## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [68]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [69]:
# Store the highest temperature
temperatures = [34, 40, 29, 33, 42, 37, 39 ] #Enter input list
max_temp = max(temperatures)  #Using max function for list
print("Highest temperature is : " +str(max_temp)) #printing max temperature

# Index of the element with the highest temperature
max_temp_index =temperatures.index(42) #To get index element used index method
print("Index of the element with the highest temperature is : " +str(max_temp_index))

Highest temperature is : 42
Index of the element with the highest temperature is : 4

In [70]:
# Store the lowest temperature
temperatures = [34, 40, 29, 33, 42, 37, 39 ] #Enter input list
min_temp = min(temperatures)  #Using min function for list
print(min_temp) #printing max temperature

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(29)  #To get index element used index method
print(min_temp_index)

29
2

In [71]:
# Swap the highest and the lowest temperatures
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
temperatures[max_temp_index],  temperatures[min_temp_index] = temperatures[min_temp_index],temperatures[max_temp_index] #swapping values for max and min temperature using assign operator
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

In [72]:
# Print the output list
(output_temperatures) = (temperatures) #assign output value to new variable
print(output_temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [73]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [74]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250] #Enter input list
sum_of_price= sum(prod_price_list) #Used sum function to get sum of elements in list
num_of_elements = len(prod_price_list) #used length function to get length of elements in list
mean_price = (sum_of_price/num_of_elements)
print("mean price is : " +str(mean_price))

mean price is : 1975.0

### Calculate the median price

In [75]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
sorted_prices = sorted(prod_price_list) #Used sorted function to sort input list
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [76]:
# Check if the number of elements in the list is even or odd
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
len(prod_price_list) #Used length function to get length of elements in list
if len(prod_price_list)%  2 == 0: #used if else condition to get output as even or odd
    print ("even")
else :
    print ("odd")

even

In [77]:
# Use the corresponding formula to calculate the median and print the median
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
mid = len(prod_price_list) // 2 #calculated mid of list
median = (prod_price_list[mid] + prod_price_list[~mid]) / 2 #calculated median using mid value and ~mid value
print("Median of list is : " + str(median))

Median of list is : 710.0

In [78]:
# Check which is greater, mean or median
print(mean_price)
print(median)
if mean_price > median : #Used if else condition to get greater value using comparision operator
    print ("mean is greater than median")
else :
    print ("median is greater than mean")

1975.0
710.0
mean is greater than median

### Why do you think that is the case??

Your explanation :  As calculated value of both mean and median and by using comparision operator it is concluded than value of mean which is 1975.0 is greater than median which is 710.0

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [79]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [80]:
# Write your code below
correct_tech_companies1 = (tech_companies[0:3])#Used list indexing to get first 3 values
correct_tech_companies2 = (tech_companies[3][0:]) #Used list indexing to get first 3 values
correct_tech_companies =correct_tech_companies1 + correct_tech_companies2[0:] #concatenate 2 lists
print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [81]:
# Do the same task another way
correct_tech_companies1 = (tech_companies[-4:-1]) #Used list indexing to get first 3 values
correct_tech_companies2 = (tech_companies[-1][-3:]) #Used list indexing to get first 3 values
correct_tech_companies =correct_tech_companies1 + correct_tech_companies2[-3:] #concatenate 2 lists
print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']